.container
{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(75, 153, 179);
    position: relative;
}

.overlay
{
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(63, 70, 77, 0.7);   
}

.aboutme_page
{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    overflow: hidden;
}


.title
{
    color: black;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(10px);
    animation: appearTitle 0.8s forwards ease ;
    display: inline-block;
    margin: 0 auto;
    
}

@keyframes appearTitle {
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to
    {
        opacity: 1;
        transform: translateY(0px);
    }
}


.title.introduction
{
    padding-top: 2rem;
    font-size: 1.8rem;

}
.aboutme_page_section
{
    width: 60%;
    height: auto;
    min-height: 400px;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    border-radius: 0;
    padding: 20px;
    text-align: left;

    background:black;
    border: 2px solid whitesmoke;
    border-color: rgba(255, 255, 255, 0);
    animation: animateborder 2s ease-in-out 0.1s forwards;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}
.aboutme_page_section::-webkit-scrollbar
{
    display: block;
}
.aboutme_page_section> p
{
  color:whitesmoke;
  font-size: 1rem;
  letter-spacing: 1;
  line-height: 1.5;
  width: 100%;
  height: max-content;
  position: relative;
  display: block;
}

p + p {
    margin-top: 4px;
}
/* 
.aboutme_page_section> span
{
  color:whitesmoke;
  font-size: clamp(1rem, 3vw+1rem, 4rem);
  letter-spacing: 1;
  line-height: 1.2;
  width: 100%;
  height: max-content;
  position: relative;
  display: block;
}

.aboutme_page_section> span::before,
.aboutme_page_section> span::after
{
    content: '';
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    
}

.aboutme_page_section> span:before
{
    background-color: black;
    animation: typewritter 3s steps(150) 1s forwards;
} */



@keyframes typewritter {
    from{
        left:0
    }
    to
    {
        left:100%
    }
}

@keyframes animateborder
{
    0%
    {
        border-top-color:  rgba(255, 255, 255, 0.5);
    }
    25%
    {
        border-left-color: rgba(255, 255, 255,  0.5);
    }
    50%
    {
        border-bottom-color:rgba(255, 255, 255,  0.5);
    }
    75%
    {
        border-right-color:rgba(255, 255, 255,  0.5);
    }
    100%
    {
        border-color: rgba(255, 255, 255,  1);
    }
}

/* ##### mobile#### */
/*
 @media screen and (max-height: 620px) {
    title.introduction
    {
        padding-top: 1rem;
        font-size: 1.6rem;

    }
    .aboutme_page_section
    {
        min-height: 300px;
        position: relative;
       
    }
}

@media screen and (max-height: 520px) {
    title.introduction
    {
        padding-top: 1rem;
        font-size: 1.6rem;

    }
    .aboutme_page_section
    {
        min-height: 300px;
        bottom: 0;
        position: absolute;
    }
}

@media screen and (max-height: 420px) {
    title.introduction
    {
        padding-top: 0.2rem;
        font-size: 1.4rem;

    }
    .aboutme_page_section
    {
        min-height: 250px;
    }
} */

@media screen and (max-width: 960px) {
    .aboutme_page_section
    {
        width: 80%;
        min-height: 450px;
    }

}


@media screen and (max-width: 770px) {
    
    .title
    {
        color: black;
        font-size: 1.5rem;
        font-weight: 800;        
    }

    .title.introduction
    {
        font-size: 1.5rem;
        padding-top: 1rem;
    }

}

@media screen and (max-width: 660px) 
{
    .container
    {
        padding-bottom: 0;
    }
    .title.introduction
    {
        font-size: 1.2rem;
        padding-top: 1rem;
    }
    .aboutme_container > .title
    {
        margin-top: 2rem;
    }

    .aboutme_page_section
    {
        width: 85%;
      
        margin-bottom: 0;
    }
    .aboutme_page_section> p
    {
        font-size: 0.9rem;
    }

}

@media screen and (max-width: 570px) {

    .title.introduction
    {
        font-size: 1rem;
        display: block;
    }

    .aboutme_container > .title
    {
        margin-top: 2rem;
    }

    .aboutme_page_section
    {
        width: 88%;
        height: 100%;
        margin-top: 8rem;
    }

}

@media screen and (max-width: 570px) {

    .title.introduction
    {
        font-size: 1rem;
        display: block;
    }

    .aboutme_container > .title
    {
        margin-top: 2rem;
    }

    .aboutme_page_section
    {
        width: 88%;
        height: 100%;
        margin-top: 8rem;
    }

}

@media screen and (max-width: 360px) {

    .title.introduction
    {
        font-size: 0.8rem;
        display: block;
    }

    .aboutme_container > .title
    {
        margin-top: 3rem;
    }

    .aboutme_page_section
    {
        width: 98%;
        height: 100%;
        margin-top: 8rem;
    }

    .aboutme_page_section > p
    {
       font-size: 0.6rem;
       letter-spacing: 1.5px;
    }
}

@media screen and (max-height: 800px) {
    .aboutme_page_section
    {
        width: 98%;
        height: auto;
        margin-top: 8rem;
        min-height: 400px;
    }
}

@media screen and (max-height: 555px) {
    .aboutme_page_section
    {
        width: 98%;
        height: 100%;
        margin-top: 8rem;
        min-height: 220px;
    }
}

@media screen and (max-height: 250px) {
    .aboutme_page_section
    {
        width: 98%;
        height: 100%;
        margin-top: 10rem;
    }
}

@media screen and (max-height: 220px) {
    .aboutme_page_section
    {
       
        margin-top: 12rem;
    }
}